* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: whitesmoke;
}

.NavLinks {
      color: lavender;
      justify-content:space-between;
      flex-direction: row;
  }

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

#portrait {
    width: 25%;
    height: auto;
}

#hubble {
    width: 40%;
    height: auto;
}

.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

#runbuddy {
    width: 35%;
    height: auto;
}


 
  
 